@use "../global/config" as *;
body {
  font-family: $ff;
  font-size: 15px;
  background-color: $clr-neutral100;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  color: inherit;
}

h2 {
  font-size: 40px;
  font-family: $ff-title;
}
