@use "./global/config" as *;
@use "./global/fa" as *;
@forward "global";
@forward "components";

main {
  padding: 25px;
  min-height: 100vh;
  display: grid;
  place-items: center;
  color: $clr-neutral100;

  .container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 8px;

    .icon {
      @include fa-icon-solid($fa-var-car);
      font-size: 30px;
    }

    > * {
      max-width: 330px;
      padding: 2.9rem 3rem;
      min-height: 442px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

    > :nth-child(1) {
      background-color: $clr-primary400;

      button {
        color: $clr-primary400;
      }
    }

    > :nth-child(2) {
      background-color: $clr-primary500;

      button {
        color: $clr-primary500;
      }
    }

    > :nth-child(3) {
      background-color: $clr-primary600;
      button {
        color: $clr-primary600;
      }
    }

    h2 {
      margin: 28px 0 25px 0;
    }

    p {
      color: $clr-neutral80;
      line-height: 1.55rem;
    }

    button {
      padding: 12.88px 29.424px;
      background-color: $clr-neutral100;
      text-decoration: none;
      border-radius: 2rem;
      transition: 0.6s;

      &:hover {
        color: $clr-neutral100;
        background-color: transparent;
        outline: 2px solid $clr-neutral100;
      }
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

@media (min-width: 794px) {
  main {
    .container {
      flex-direction: row;
      max-width: 920px;

      > * {
        flex: 1;
        min-height: 500px;
      }
    }
  }
}
